*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    }
    
    .back:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    }

    .content211{
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 999;
    text-align: center;
    
    height: 70px;
    width: 140px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
   }
   .content211:hover{
    background :rgba(0,0,0,0.5);
  }


   .content212{
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 999;
    text-align: center;
    
    height: 400px;
    width: 200px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
   }
   .content212 li:hover{
    background :rgba(0,0,0,0.5);
  }

   .content213{
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 999;
    text-align: center;
    
    height: 600px;
    width: 850px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
   }
   .content213 ul{
    display: flex;
    flex-direction:column;
   }
   ul>li{
      flex:1;
    display: flex;
    height: 70px;
    justify-content :center;
    align-items: center;
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 21px; 
  }
 
  .song{
    flex:1;
    display: flex;
    height: 400px;
    justify-content :center;
    align-items: center;
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 40px; 
  }